# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# ChromaDB
chroma_db/

# Uploads
uploads/

# Python cache
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db